svg {
  text {
    font-family: 'IBM Plex Sans Thin', sans-serif;
  }
  .axis--x path {
    display: none;
  }
  .line {
    fill: none;
    stroke: steelblue; // stroke-width: 1.5px;
  }
  .y-axis,
  .grid {
    line,
    path {
      stroke: rgb(230, 230, 230);
    }
  }
  .x-axis {
    line {
      stroke: #CECECE;
    }
    path {
      stroke: #CECECE;
    }
    text {
      font-family: 'IBM Plex Sans Thin', sans-serif;
      stroke: #666666;
    }
  }
  .dot {
    fill: #3DA3E8;
    stroke: #3DA3E8;
    stroke-width: 1.5px;
  }
}
