.jumbotron {
  background: url("/assets/images/kelly-sikkema-374727-unsplash.jpg") center (bottom / cover);
  background-size: cover;
  min-height: 40vh;
  display: flex;
  align-items: center;
  color: white;
}
