<div class="container text-muted">

  <div class="row">
    <div class="col contact-me">
      <h5>Contact</h5>
      <a href="mailto:clough.warren@gmail.com">clough.warren@hotmail.com</a>
    </div>
    <div class="col">
      <h5>Links</h5>
      <a routerLink="/home">Home</a>
      <br />
      <a routerLink="/posts">Posts</a>
      <br />
      <a routerLink="/about">About</a>
      <br />
      <a routerLink="/login" *ngIf="!auth.isLoggedIn">Login</a>
    </div>
    <div class="col social-media-links text-center">
      <h5>Follow</h5>
      <a href="https://twitter.com/warren_clough">
        <fa-icon [icon]="faTwitter" transform="shrink-8" [mask]="faCircle" class="fa-1x"></fa-icon>
      </a>
      <a href="https://github.com/clough">
        <fa-icon [icon]="faGithub" transform="shrink-8" [mask]="faCircle" class="fa-1x"></fa-icon>
      </a>
      <a href="https://www.youtube.com/channel/UCOnltx7S5_TZfT62vqkVy0Q">
        <fa-icon [icon]="faYoutube" transform="shrink-8" [mask]="faCircle" class="fa-1x"></fa-icon>
      </a>

    </div>
  </div>
</div>
