<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
  <h1 class="h2">Dashboard</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group mr-2">
      <button class="btn btn-sm btn-outline-secondary">Share</button>
      <button class="btn btn-sm btn-outline-secondary">Export</button>
    </div>
    <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
      <span data-feather="calendar"></span>
      This week
    </button>
  </div>
</div>

<div>
  <app-users-chart [data]="userData"></app-users-chart>
</div>

<div class="row">

  <div class="col">
    <app-page-visits-per-day [data]="pageViewsPerDay"></app-page-visits-per-day>
  </div>
  <div class="col">
    <app-user-geolocation-chart [data]="userGeoData"></app-user-geolocation-chart>
  </div>
</div>

<app-page-visits [data]="pageData"></app-page-visits>
