<app-main-layout [options]="layoutOptions">
  <section class="jumbotron text-center">
    <div class="container">
      <p>Hey, I'm</p>
      <h1 class="display-4">Warren Clough</h1>
      <p class="lead">
        <span>
          I'm glad that you made it. While you are here, you should be able to find out a little bit more about me and hopefully something
          interesting.
        </span>
      </p>
    </div>
  </section>

  <section class="post bg-light py-5">
    <div class="container">
      <h2 class="mb-5">My Posts</h2>
      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="assets/images/photo-1511362328651-90cc517fbe31.jpeg">
            <div class="card-body">
              <h5 class="card-title">Lorem Ipsum Dolor Sit Amet Cons</h5>
              <p class="card-text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="assets/images/clement-h-544786-unsplash.jpg">
            <div class="card-body">
              <h5 class="card-title">Lorem Ipsum Dolor Sit Amet Cons</h5>
              <p class="card-text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="post bg-white py-5">
    <div class="container">
      <h2 class="mb-5">My Portfolio</h2>
      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="assets/images/photo-1511362328651-90cc517fbe31.jpeg">
            <div class="card-body">
              <h5 class="card-title">Lorem Ipsum Dolor Sit Amet Cons</h5>
              <p class="card-text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="assets/images/clement-h-544786-unsplash.jpg">
            <div class="card-body">
              <h5 class="card-title">Lorem Ipsum Dolor Sit Amet Cons</h5>
              <p class="card-text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="portfolio bg-white">
  </section>
</app-main-layout>
