<div class="card mb-4 box-shadow" [ngClass]="{'small': small}">
  <img class="card-img-top featured-image" [src]="post.featuredImage" *ngIf="post.featuredImage">
  <div class="card-body">
    <h5 class="card-title">
      <a [routerLink]="['/posts',post._id]">{{post.title}}</a>
    </h5>
    <div id="excerpt" #excerpt>
      <p class="card-text " [innerHTML]="post.excerpt" *ngIf="!hideWhenSmall()">
      </p>

    </div>
  </div>
  <div class="timeago">
    <small>{{post.updatedAt | amTimeAgo}}</small>
  </div>
</div>
